* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  background-color: oldlace;
  font-family: Tahoma, sans-serf;
}

header {
  height: 10em;
  padding: 15px;
  background-image: url(venlo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Amarante", cursive;
  color: white;
  font-size: 3rem;
}

ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: bottom;
  list-style-type: none;
  padding: 3px;
}

li {
  padding: 0.5em;
  transition: 1s;
}

li:hover {
  background-color: rgb(232, 213, 153);
  cursor: pointer;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

p {
  padding-left: 8px;
}

img {
  padding-right: 8px;
}

footer {
  display: grid;
  place-items: center;
  background-color: oldlace;
}

[class*="col-"] {
  width: 100vw;
}
@media only screen and (min-width: 768px) {
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
  background-color: bisque;
}

@media only screen and (max-width: 768px) {
  .col-2 {
    width: 100%;
    background-color: oldlace;
  }
}

.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
  background-color: oldlace;
}

@media only screen and (max-width: 768px) {
  .col-9 {
    width: 100%;
    background-color: bisque;
  }
}

.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}

@media only screen and (max-width: 768px) {
  .col-11 {
    width: 100%;
  }
}

.col-12 {
  width: 100%;
}
